* {
    border:        none;
    border-radius: 0;
    font-family:   Iosevka Comfy Wide Motion;
    font-weight:   bold;
    font-size:     20px;
    color:         rgba(168, 153, 132, 1);
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

button {
  min-height: 24px;
  min-width: 16px;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(29,32,33, 1);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(29,32,33, 1);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.persistent {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(168, 153, 132, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(168, 153, 132, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
